footer {
	background: $dark-brown;
}


section#comment-card {

	.header {
		text-align: center;
		padding: 25px 0 25px 0;

		h3 {
			font-size: 3em;
		}

		p {
			padding: 10px 0 0 0;
			font-style: italic;
		}
	}

	.form {

		label {
			font-size: 1em;

		}

		div.wpforms-container-full .wpforms-form .wpforms-field-description {
			font-size: 1em;
		}

		textarea {
			padding: 10px;
		}

		div.wpforms-container-full .wpforms-form button[type=submit] {
			background: $seafoam;
			border: 1px solid $seafoam;
			border-radius: 2px;
			font-family: $mr-eaves;
			padding: 14px 20px 11px 20px;
			color: $white;
		}
	}


}
