body.page-template-group-dining {

	.contact-info {

		.brochure {

			.cta {
				color: $seafoam;
				font-family: $mr-eaves;
				font-weight: bold;
				letter-spacing: 0.05em;
				border-width: 2px;

				&:hover {
					background: $seafoam;
					color: $white;
					border-color: $seafoam;
				}

			}
		}
	}
}