.header-bg {
	background: $dark-brown;
}

header {
	background: transparent;
	padding-bottom: 40px;

	@include tablet-portrait {
		padding-bottom: 0;
	}

	.header-wrapper {
		border-color: $white;
		border-width: 1px;
	}

	.info {

		h3 {
			font-size: 1.5em;
			letter-spacing: 0em;
			text-transform: none;
			font-family: $mrs-eaves;
			color: $seafoam;
		}

		p {
			color: $white;
			font-size: 1em;
			line-height: 1.5em;
			font-style: normal;
		}
	}

}

nav.desktop {
	background: transparent;

	.main-nav {
		a {
			color: $seafoam;
			font-family: $mrs-eaves;
			text-transform: none;
			font-size: 1.25em;
			letter-spacing: 0em;
			font-weight: 400;

			&:hover {
				color: $seafoam;
			}
		}
	}


}

nav.mobile {

	.main-nav {

		@include tablet-portrait {
			display: flex;
			justify-content: center;

			a {
				padding: 0;

				&:after {
					content: "·";
					display: inline-block;
					padding: 0 30px;
				}

				&:last-of-type {
					&:after {
						display: none;
					}
				}
			}
		}

		a {
			color: $white;
			font-family: $mrs-eaves;
			font-size: 1.5em;
			font-weight: 400;
			padding: 20px 0;
		}
	}
}


section.call-to-actions {
	background: transparent;
	padding-bottom: 40px;

	.btn {
		a {
			border-color: $seafoam;
			color: $white;
			border-radius: 5px;
			text-transform: none;
			letter-spacing: 0em;
			font-weight: normal;
			font-size: 1.125em;
			font-family: $mrs-eaves;
			padding: 13px 30px 10px;

			&:hover {
				background: $seafoam;
				color: $white;
			}
		}
	}

	.text {
		@include tablet-portrait {
			width: 100%;
			padding: 25px 0;
		}

		@include tablet-landscape {
			width: auto;
			padding: 0 25px;
		}

		p {
			color: $white;
			font-style: italic;
			letter-spacing: 0.02em;
		}
	}
}


#toggle {

	.patty {
	    background: $white;

		&:after, &:before {
		    background: $white;
		}

	}
}


nav .social a {
	background: none !important;
	width: 16px !important;
	height: 16px !important;


	&:hover {
		filter: invert(65%) sepia(14%) saturate(1327%) hue-rotate(129deg) brightness(98%) contrast(87%);
	}
}