body.home {

	section#hero {
		@include aspect-ratio(16, 9);

		@include mobile-landscape {
			@include aspect-ratio(1440, 490);
			max-height: 600px;
		}
	}

	section#main {
		padding: 50px 0;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		@include desktop {
			margin: 0 auto;
			max-width: 1600px;
			align-items: flex-start;
			padding: 25px 0;
		}

		section#info {
			order: -1;
			padding: 0 25px 50px 25px;

			@include tablet-portrait {
				order: 2;
				flex: 1;
				padding: 0 50px;
			}
		
			@include tablet-landscape {
				max-width: 420px;
			}

			@include desktop {
				padding: 50px 0 0 50px;
			}
		
			.description {

				h3 {
					padding: 0 0 20px 0;
					font-size: 1.75em;
					line-height: 1.25em;
					font-weight: bold;
				}

				.copy {
					padding: 40px 0;
					border-top: 1px solid $slate;
					border-bottom: 1px solid $slate;
				}

				p {
					font-size: 1.5em;
					line-height: 1.75em;
				}

			}

		}


		.next-door {

			&.desktop {
				display: none;

				@include tablet-portrait {
					display: block;
					padding: 50px 0 0 0;
				}
			}

			&.mobile {
				display: block;
				margin: 50px 25px 0 25px;
				width: 100%;

				.claret {
					width: 100%;
				}

				@include tablet-portrait {
					display: none;
				}
			}

		}

		.claret {
			padding: 25px;
			border: 1px solid $slate;
			border-radius: 10px;

			.graphics {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 20px 0 0 0;

				@include tablet-portrait {
					justify-content: space-between;
				}

				a {
					display: block;
				}

				.arrow {
					margin-right: 5%;

					img {
						width: 100%;
						max-width: 150px;
					}

				}

				.logo {
					img {
						width: 100%;
						max-width: 150px;
					}
				}
			}

			.copy {
				p {
					font-size: 1.625em !important;
					line-height: 1.25em !important;
					font-style: italic;

					a {
						text-decoration: underline;
					}
				}
			}
		}


		section#photos {

			@include tablet-portrait {
				order: 1;
				width: 50%;
				max-width: 900px;
			}

			@include tablet-landscape {
				width: 66.6667%;
				max-width: 800px;
			}

			.gallery {
				display: flex;
				flex-wrap: wrap;

				.col-2 {
					width: 49.25%;
				}

				.col-1 {
					width: 100%;
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					margin-top: 5px;

					@include mobile-landscape {
						margin-top: 12px;
					}

				}

				.wide {
					display: block;
				}
			}
		}

	}
}