body.page-template-hours {

	section.standard {
		padding: 40px 0;

		@include tablet-portrait {
			padding: 80px 0;
		}

		.wrapper {
			max-width: 400px;

			@include tablet-portrait {
				max-width: 600px;
			}


			@include tablet-landscape {
				max-width: 400px;
				padding: 0;
			}

		}

		.section-body {
			
			.hours {
				text-align: center;

				h3 {
					text-transform: uppercase;
					letter-spacing: 0.1em;
					font-size: 0.9375em;
					padding: 0 0 10px 0;
					font-family: $mrs-eaves;
				}

				p {
					font-weight: 100;
					font-size: 1.25em;
					line-height: 1.25em;
					padding: 0 0 40px 0;

					@include tablet-portrait {
						font-size: 1.75em;
					}

					&:last-of-type {
						padding: 0;
					}

				}
			}
		}
	}
}