body.page-template-landing-page {

	section#page {
		overflow: hidden;

		.photo {
			width: 100%;
			height: 100vh;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.info {
			position: absolute;
			top: 0;
			left:  0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100vh;
			z-index: 5;
			display: flex;
			justify-content: flex-end;
			padding-top: 25px;
			font-family: $mr-eaves;
			overflow: scroll;

			@include tablet-portrait {
				padding-top: 50px;
			}

			.info-wrapper {
				padding: 25px;
				text-align: center;

				@include tablet-portrait {
					text-align: left;
					max-width: 75%;
					padding: 50px;
				}

				@include desktop {
					max-width: 50%;
					width: 100%;

				}
			}

			.logo {
				max-width: 300px;
				margin: 0 auto;

				@include tablet-portrait {
					margin: 0;
					max-width: 400px;
				}

				img {
					width: 100%;
				}
			}

			.headline {
				padding: 50px 0 25px 0;
				h2 {
					color: $white;
					font-weight: bold;
					font-size: 1.75em;
					text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);


				}
			}

			.copy {
				max-width: 600px;

				p {
					font-size: 1.5em;
					line-height: 1.375em;
					color: #F0EEE8;
					text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);


					@include tablet-portrait {
						font-size: 1.75em;
						line-height: 1.5em;
					}
				}
			}

			.ctas {
				padding-bottom: 100px;
				max-width: 600px;

				.cta {
					.headline {
						h4 {
							color: #CA9F32;
							font-weight: bold;
							font-size: 1.5em;
							line-height: 1.375em;
							text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
						
							@include tablet-portrait {
								font-size: 1.75em;
							}
						}
					}

					.btn {
						a {
							display: inline-block;
							background: #F5F1E9;
							padding: 15px 25px 10px 25px;
							border-radius: 5px;
							font-size: 1.25em;
							font-weight: bold;
							box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
							font-family: $italian-typewriter;
						}
					}
				}
			}
		}
	}
}