body.page-template-menu {

	section.menu {
		padding: 40px 0;

		@include tablet-portrait {
			padding: 80px 0;
		}

		.wrapper {
			max-width: 1202px;
		}

		section#menu-list {
			display: flex;
			flex-wrap: wrap;

			.menu-item {
				text-align: center;
				width: 100%;
				margin: 0 0 50px 0;

				@include mobile-landscape {
					width: 49%;
					margin: 0 0.5% 50px 0.5%;
				}

				@include tablet-portrait {
					width: 32.3333%;
				}

				.photo {
					a {
						display: block;
						position: relative;

						&:hover {
							span.pdf {
								opacity: 1;
							}
						}
					}

					span.pdf {
						opacity: 0;
						transition: opacity 0.2s ease-in-out;
						position: absolute;
						background: rgba(47, 46, 45, 0.75);
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						z-index: 10;
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;

						img {
							width: 100%;
							max-width: 48px;
						}
					}
				}

				.info {
					padding: 25px 0 0 0;

					a.title {
						font-size: 1.5em;
					}
				}


			}

		}



	}
}

