body, input, textarea {
	color: $slate;
	font: 400 100%/1 $mrs-eaves;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-family: $mr-eaves;
}

a {
	color: $slate;
	transition: all 0.2s ease-in-out;
}



.section-header {
	padding: 0 0 40px 0;
	text-align: center;

	h1 {
		font-weight: bold;
		font-size: 3em;
		color: $seafoam;
		font-family: $mrs-eaves;
		letter-spacing: -0.03em;;

		@include tablet-portrait {
			font-size: 4em;
		}
	}
}