/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #eee;
$charcoal: #4a4a4a;
$black: #000;

$slate: #2a2a2a;
$cream: #FDFEFC;
$blue: #1B5A7D;
$brown: #784D27;
$dark-brown: #34211a;
$carmel: #B56A1E;
$seafoam: #4E9F9B;
$claret-red: #A12744;
$sand: #B4B2B0;



/* Typography
----------------------------------*/
$mr-eaves: 'mr-eaves-sans', sans-serif;
$mrs-eaves: 'mrs-eaves', serif;
@font-face {
    font-family: 'Italian Typewriter';
    src: url('fonts/ItalianTypewriter.woff2') format('woff2'),
        url('fonts/ItalianTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$italian-typewriter: 'Italian Typewriter', serif;